<p id="notice"><%= notice %></p>

<h1>Listing Infomations</h1>

<dl class="accordion">
	<% @infomations.each do |infomation| %>
    	<dt><%= infomation[:title] %></dt>
	    <dd><%= simple_format(h(infomation[:body])) %>
	    	<div class="textRight"><%= infomation[:created_at].strftime("%Y年%m月%d日") %></div>
	    </dd>
    <% end %>
</dl>
