// Place all the styles related to the infomations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dl.accordion {
   background: #DDD;
   width: 95%;
   margin: 0 auto 30px;
   padding: 10px;
   font-size:16px;
}

dl.accordion dt {
    background: url(triggerOpen.png) 97% center no-repeat,-moz-linear-gradient(top, #C6F0FE, #27BCF9);
    background: url(triggerOpen.png) 97% center no-repeat,-webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));
    border-bottom: 1px solid #EEE;
    height: 40px;
    text-indent: 10px;
    line-height: 40px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

dl.accordion dt.open {
    background: url(triggerClose.png) 97% center no-repeat,-moz-linear-gradient(top, #C6F0FE, #27BCF9);
    background: url(triggerClose.png) 97% center no-repeat,-webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));
}

dl.accordion dd {
  background: #FFF;
  margin: 0px;
  padding: 10px;
  line-height: 1.5;
  display: none;
}

