body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.contents {
  width: 100%;
  text-align: center;
}

.header {
  padding: 5px;
  position: fixed;
  width: 98%;
}
.header h1 {
  text-align: center;
}

.header ul {
  font-size: 0;
  padding: 0px;
}
.header li {
  background-color: #FFB6C1;
  display: inline-block;
  font-size: 12px;
  width: 20%;
  padding: 5px 0px;
}

.non_underline {
  display: block;
  text-decoration: none;
}
a.non_underline:hover {
    overflow : hidden;
    outline : none;
    background-color: #ffffff;
}

.centerContents {
  padding-top: 125px;
}

/* 2列用 */
.leftSecond {
    width: 25%;
    float: left;
  text-align: left;
  padding: 5px;
}

.rightSecond {
    float: left;
  text-align: left;
  padding: 5px;
}

/* 3列用 */
.leftContents {
    width: 75%;
    float: left;
}
.leftContents .left {
    width: 32%;
    float: left;
  text-align: left;
}

.leftContents .center {
    width: 66.7%;
    float: right;
  text-align: left;
}

.rightContents {
  width: 24%;
  float: right;
  text-align: left;
}

.footer {
  padding: 5px;
  clear: both;
  text-align: center;
}

/* 丸サムネイル用 */
.thumbnail img {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}