<div class="left">
	左コンテンツ
	左コンテンツ
	左コンテンツ
	左コンテンツ
	左コンテンツ
	左コンテンツ<br />左コンテンツ<br />左コンテンツ
	左コンテンツ
	左コンテンツ
	左コンテンツ
	左コンテンツ
	左コンテンツ
	左コンテンツ
	左コンテンツ
	左コンテンツ
	左コンテンツ
	左コンテンツ左コンテンツ
	左コンテンツ
	左コンテンツ左コンテンツ左コンテンツ左コンテンツ左コンテンツ左コンテンツ
</div>